<section id="#imagenHonor">
  <img class="img-fluid" src="/assets/portada.webp" alt="Imagen de la portada del museo">
</section>
<section class="container mt-3">
  <div class="row gx-3 gy-3">
    <div class="col-sm-12 col-md-3">
      <img class="img-fluid" src="/assets/historia.webp" alt="Una foto histórica del museo del prado"/>
    </div>
    <div class="col-sm-12 col-md-9">
      <header>
        <h2>Nuestra historia</h2>
      </header>
      <main>
        <p>El museo fue inaugurado en 1819 como Museo Real de Pinturas y Esculturas. Su colección inicial provino principalmente de las colecciones reales, con obras de la realeza española, especialmente de las colecciones de los Reyes Felipe II y Felipe IV.
        </p>
      </main>
    </div>

    <div class="col-sm-12 col-md-9">
      <header>
        <h2>Edificio</h2>
      </header>
      <main>
        <p>El edificio principal del museo fue diseñado por el arquitecto Juan de Villanueva en estilo neoclásico. Ha sido ampliado y renovado a lo largo de los años para adaptarse a las necesidades del museo y a la creciente colección.
          </p>
      </main>
    </div>
    <div class="col-sm-12 col-md-3">
      <img class="img-fluid" src="/assets/villanueva.webp" alt="Una foto histórica del museo del prado"/>
    </div>
    <div class="col-sm-12 col-md-3">
      <img class="img-fluid" src="/assets/actividades.webp" alt="Una foto histórica del museo del prado"/>
    </div>
    <div class="col-sm-12 col-md-9">
      <header>
        <h2>Actividades</h2>
      </header>
      <main>
        <p>Además de exhibir su colección permanente, el museo organiza exposiciones temporales, conferencias, talleres educativos y actividades culturales para públicos de todas las edades.
        </p>
      </main>
    </div>
  </div>
</section>
<section class="container">
  <header>
    <h2>Coleccion</h2>
  </header>
  <main>
    <img class="img-fluid" src="assets/obras.webp" alt="el ejemplo de algunas obras expuestas" />
    <p>El Museo del Prado alberga una extensa colección de arte español, italiano y flamenco, con obras maestras de artistas como Francisco de Goya, Diego Velázquez, El Greco, Peter Paul Rubens, Hieronymus Bosch, entre muchos otros. Destacan obras emblemáticas como "Las Meninas" de Velázquez, "El jardín de las delicias" de Bosch y "La maja desnuda" de Goya.
    </p>
  </main>
</section>
